.container {
	min-height: 100%;
	min-height: -webkit-fill-available;
	display: flex;
	flex-direction: column;
}

.navbar {
	background-color: azure;
	padding: 2rem 2rem;
}

.hero {
	background-color: beige;
	flex: 1;
	padding: 2rem 2rem;
}

.footer {
	background-color: blue;
	padding: 2rem 2rem;
}
