header {
	min-height: 100dvh;
	display: grid;
	grid-template-rows: 10rem 1fr 10rem;
}

.navbar {
	background-color: azure;
	min-height: 6rem;
}

.hero {
	background-color: beige;
}

.footer {
	background-color: blue;
}
