.container {
	min-height: 100vh;
	min-height: -webkit-fill-available;
	display: flex;
	flex-direction: column;
}

.navbar {
	background-color: azure;
	height: 6rem;
	flex: 1;
}

.hero {
	background-color: beige;
}

.footer {
	background-color: blue;
	height: 6rem;
}
